body {
  font-family: 'Roboto','Arial' ;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  overflow: auto;
  
}

body::-webkit-scrollbar {
  width: 0; /* Removes the scrollbar's width */
  height: 0; /* Removes the scrollbar's height */
}

.blog-section {
  margin: 50px auto;
  width: 65%;
  text-align: center;
}

.blog-post {
  display: flex;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow: hidden;
  /* width: calc(33%, 30); */
}

.blog-post img {
  width: 20%;
  height: auto;
  border-radius: 8px 8px 8px 8px;
}

.blog-content {
  padding: 15px;
}

.blog-content h3 {
  margin-top: 0;
}
.blog-content h3 a{
  color: #6a11cb;
  text-decoration: none;
}

.blog-content p {
  color: #555;
}

/* Navbar Styles */
.navbar {
  background: #091624;
  padding: 15px 20px;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo Styles */
.logo {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.logo:hover {
  color: #ffda79;
}

/* Search Bar Styles */
.search-bar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 30px;
  padding: 5px 10px;
  width: 50%;
  max-width: 400px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  padding: 5px;
  border-radius: 30px 0 0 30px;
}

.search-bar button {
  border: none;
  background: transparent;
  color: #091624;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0 10px;
}

.search-bar button:hover {
  color: #2575fc;
}

/* Main Link Styles */
.main-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 15px;
  border-radius: 20px;
  transition: background 0.3s ease, color 0.3s ease;
}

.main-link:hover {
  background: white;
  color: #6a11cb;
}

/* Responsive Design */
@media (max-width: 768px) {
  .search-bar {
    width: 50%;
  }
  .blog-post img {
    width: 20%;
    border-radius: 8px;
  }

  .main-link {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .blog-section {
    width: 100%;
    margin: 20px 0;
  }

  .blog-post {
    display: block;
  }

  .blog-post img {
    width: 100%;
    border-radius: 8px;
  }

  .search-bar {
    width: 80%;
    margin: 10px 0;
  }

  .main-link {
    align-self: flex-end;
  }
}
